@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.main {
  margin: 0;
  padding: 60px;
  background-color: rgb(227, 239, 246);

  font-family: "Montserrat";
}

.main li,
.main h1 {
  padding-left: 60px;
  color: #443f3f;
  font-size: 1.7em;
}

.main h3 {
  color: #545454;
}

.main a,
.nav a {
  color: #443f3f;
  text-decoration: none;
}

.main ul {
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 30px;
}

.heading {
  font-size: 3em;
  color: #443f3f;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}
