@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.heading {
    font-size: 2.5em;
    color: #443f3f;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

.main {
  margin: 0;
  padding: 60px;
  background-color: rgb(227, 239, 246);

  font-family: "Montserrat";
}

.main h1 {
    padding-left: 60px;
    color: #443f3f;
    font-size: 1.2em;
  }

  .main h2 {
    color: #545454;
    font-size: 1.2em;
  }

  .main h3 {
    color: #545454;
    font-size: 1em;
  }

.main li,
.main h1 {
  padding-left: 60px;
}

.main li {
  font-size: 1.2em;
}

.main a,
.nav a {
  color: #443f3f;
  text-decoration: none;
}

.main ul {
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}
